@using Shopping.Models
@model IEnumerable<BrandModel>
@{
    ViewData["title"] = "Brand List";
}
<h4>Product List</h4>
<a asp-area="Admin" asp-action="Create" asp-controller="Brand" class="btn btn-warning">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Brand Description</th>
            <th scope="col">Brand Slug</th>
            <th scope="col">Brand Status</th>
            <th>Peoduct Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Slug</td>
            <td>@item.Status</td>
            <td>
                    <a asp-area="Admin" asp-action="Edit" asp-controller="Brand" asp-route-Id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-area="Admin" asp-action="Delete" asp-controller="Brand" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
            </tr>
        }
       
    </tbody>
</table>